<SfTreeView TValue="NavigationItem" DataSource="@navigationItems">
	<TreeViewFieldsSettings TValue="NavigationItem" Id="Id" Text="Text" NavigateUrl="NavigateUrl" IconCss="IconCss" Child="Items" />
</SfTreeView>