# http://editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.md]
trim_trailing_whitespace = false

# C# files
[*.cs]
dotnet_remove_unnecessary_usings = true
# SA1121: 禁止使用框架类型的别名（String → string）
dotnet_diagnostic.BL0005.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CS1570.severity = none
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.SA1000.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1011.severity = none
dotnet_diagnostic.SA1027.severity = none
dotnet_diagnostic.SA1028.severity = error
dotnet_diagnostic.SA1101.severity = error
dotnet_diagnostic.SA1111.severity = none
dotnet_diagnostic.SA1119.severity = error
dotnet_diagnostic.SA1121.severity = error
dotnet_diagnostic.SA1120.severity = none
dotnet_diagnostic.SA1124.severity = none
dotnet_diagnostic.SA1134.severity = none
dotnet_diagnostic.SA1137.severity = error
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1202.severity = error
dotnet_diagnostic.SA1204.severity = error
dotnet_diagnostic.SA1214.severity = error
dotnet_diagnostic.SA1300.severity = error
dotnet_diagnostic.SA1306.severity = error
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1402.severity = error
dotnet_diagnostic.SA1413.severity = error
dotnet_diagnostic.SA1503.severity = error
dotnet_diagnostic.SA1505.severity = error
dotnet_diagnostic.SA1507.severity = error
dotnet_diagnostic.SA1508.severity = error
dotnet_diagnostic.SA1512.severity = none
dotnet_diagnostic.SA1513.severity = none
dotnet_diagnostic.SA1515.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1517.severity = error
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = error
dotnet_diagnostic.SA1611.severity = none
dotnet_diagnostic.SA1615.severity = none
dotnet_diagnostic.SA1623.severity = none
dotnet_diagnostic.SA1629.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1642.severity = none
dotnet_diagnostic.SA1649.severity = none
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0009.severity = none

# 移除未使用的 using
dotnet_remove_unnecessary_using_directives = true

# 排序 using
dotnet_sort_system_directives_first = true

dotnet_diagnostic.IDE0005.severity = error
