# From https://github.com/dotnet/aspnetcore/blob/main/.gitignore
bin/
obj/
.dotnet/
.fleet/
.idea/
.nuget/
.packages/
.tools/
.vs/
node_modules/
**/TestResults/
/coveragereports/
/testreports/

# File extensions
*.aps
*.binlog
*.dll
*.DS_Store
*.exe
*.idb
*.lib
*.log
*.pch
*.pdb
*.pidb
*.psess
*.res
*.snk
*.so
*.suo
*.svclog
*.tlog
*.user
*.userprefs
*.vspx
app.css
*.css.map
core
db/
core.*
