using Microsoft.AspNetCore.Components;

namespace {{PROJECT_NAMESPACE}}.Pages;

public partial class Counter : ComponentBase
{
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    
    private void ResetCount()
    {
        currentCount = 0;
    }
}