// {{PROJECT_DISPLAY_NAME}} JavaScript utilities\n\n// Initialize application scripts\nwindow.{{PROJECT_NAME}} = window.{{PROJECT_NAME}} || {};\n\n// Utility functions\nwindow.{{PROJECT_NAME}}.utils = {\n    // Show console message\n    log: function(message) {\n        if (console && console.log) {\n            console.log('[{{PROJECT_DISPLAY_NAME}}]', message);\n        }\n    },\n    \n    // Reload page\n    reload: function() {\n        location.reload();\n    },\n    \n    // Navigate to URL\n    navigate: function(url) {\n        location.href = url;\n    }\n};\n\n// Initialize when DOM is ready\ndocument.addEventListener('DOMContentLoaded', function() {\n    window.{{PROJECT_NAME}}.utils.log('Application initialized');\n});