@inherits LayoutComponentBase

<SfSidebar IsOpen="this.isSidebarOpen" Width="250px" Type="SidebarType.Push" Target=".main-content">
	<ChildContent>
		<div class="sidebar-content">
			<div class="sidebar-header">
				<h4>Sanjel.RequestManagement</h4>
			</div>
			<NavMenu />
		</div>
	</ChildContent>
</SfSidebar>

<div class="main-content">
	<div class="header">
		<SfToolbar>
			<ToolbarItems>
				<ToolbarItem PrefixIcon="e-menu" TooltipText="Menu" OnClick="@this.ToggleSidebarAsync" />
				<ToolbarItem Text="Sanjel.RequestManagement" CssClass="title-text" />

			</ToolbarItems>
		</SfToolbar>
	</div>

	<div class="content-area">
		@this.Body
	</div>
</div>