using Microsoft.AspNetCore.Components;

namespace {{PROJECT_NAMESPACE}}.Components.Layout;

public partial class NavMenu : ComponentBase
{
    // Navigation menu component logic
    // Future enhancements will be added by blazor-page-pattern-generator skill
}