<Router AppAssembly="typeof(Program).Assembly"
				AdditionalAssemblies="new[] { typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet).Assembly }">
	<Found Context="routeData">
		<RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
		<FocusOnNavigate RouteData="routeData" Selector="h1" />
	</Found>
	<NotFound>
		<PageTitle>Not found</PageTitle>
		<LayoutView Layout="typeof(Layout.MainLayout)">
			<div class="page-not-found">
				<h1>Sorry, there's nothing at this address.</h1>
			</div>
		</LayoutView>
	</NotFound>
</Router>