using Microsoft.AspNetCore.Components;

namespace {{PROJECT_NAMESPACE}}.Components;

public partial class Routes : ComponentBase
{
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;
}