@namespace Sanjel.RequestManagement.Blazor.Layout

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Request Management</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> <span class="link-text">Home</span>
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="hello">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> <span class="link-text">Hello</span>
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="request">
				<span class="bi bi-list-task-nav-menu" aria-hidden="true"></span> <span class="link-text">Request</span>
			</NavLink>
		</div>
	</nav>
</div>