@namespace {{PROJECT_NAMESPACE}}.Components.Layout

<div class="nav-menu">
    <h3>Navigation</h3>
    <ul>
        <li><a href="/" class="@GetNavLinkClass("/")">Home</a></li>
        <li><a href="/counter" class="@GetNavLinkClass("/counter")">Counter</a></li>
        {{#if AUTHENTICATION}}
        <li><a href="/profile" class="@GetNavLinkClass("/profile")">Profile</a></li>
        <li><a href="/logout" class="@GetNavLinkClass("/logout")">Logout</a></li>
        {{/if}}
    </ul>
</div>