using Microsoft.AspNetCore.Components;

namespace {{PROJECT_NAMESPACE}}.Blazor.Components;

public partial class Routes : ComponentBase
{
	[Inject]
	private NavigationManager NavigationManager { get; set; } = null!;
}